extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-user.pug
    .row
      .col-12
        +box-head("Chat")
    .row
      .col-12
        .inner-header-chat
          if (titleRoomChat.fullName)
            .titleImg
              img(src=titleRoomChat.avatar, alt="avatar")
            .titleRoom #{titleRoomChat.fullName}
          else if (roomChat.title) 
            .titleRoom #{roomChat.title}
          else
            .titleRoom #{titleRoomChat } #{user.fullName}
          .inner-setting-chat
            //- |<i class="fa-solid fa-gear"></i>
            div(class="dropdown")
              button(class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false")
                | <i class="fa-solid fa-gear"></i>
              div(class="dropdown-menu")
                if (roomChat.type == "friend" || roleUser == "superAdmin")
                  a(class="dropdown-item" href=`/chat/${roomChat.id}/change-title`) Đổi tên nhóm
                  a(class="dropdown-item" href=`/chat/${roomChat.id}/change-name-user`) Đặt biệt danh
                  a(class="dropdown-item" href="#") Đổi avatar
                  a(class="dropdown-item" href="#") Xem thành viên
                  a(class="dropdown-item" href="#") Nâng cấp thành viên
                  a(class="dropdown-item" href="#") Giải tán nhóm
                else
                  a(class="dropdown-item" href="#") Rời khỏi đoạn chat
        .chat(my-id=`${user.id}`)
          .inner-body
            for item in chats
              div(class= (item.userId == user.id? "inner-outgoing" : "inner-incoming"))
                if (item.userId != user.id)
                  .inner-name #{item.fullName}
                if  (item.content)
                  .inner-content #{item.content}
                if  (item.images)
                  .inner-images
                    each image in item.images
                      img(src=image)
          div(class="inner-list-typing")
          .inner-preview-images
            div(class="custom-file-container" data-upload-id="image-preview")
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              span(
                button-icon
                class="btn btn-sm btn-light mx-1"
              ) <i class="fa-solid fa-face-smile"></i>
              label(
                for="file-upload-with-preview-image-preview"
                class="btn btn-sm btn-light mr-1 mb-0"
              ) <i class="fa-regular fa-image"></i>
              button
                i.fa-solid.fa-paper-plane
  div(class="tooltip" role="tooltip")
    emoji-picker