extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    include ../../partials/list-btn-user.pug
    .row
      .col-12
        +box-head(pageTitle)
    .row
      each user in usersInGroup
        .col-6(box-user= user.id)
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png"
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              //- div(class="inner-buttons")
              //-   a(href= `/chat/${user.roomChatId}`
              //-     class="btn btn-sm btn-primary mr-1"
              //-   ) Nhắn tin
            div(
              class="inner-status"
              status=user.statusOnline
            ) <i class="fa-solid fa-circle"></i>
    .row
      a(
        class="btn btn-danger mt-2 ml-5"
        href=`/chat/${idRoom}`
      ) Back

      